<!DOCTYPE html>
<html>
	<head>	
		<title>1111</title>
		<meta charset="utf-8">
		<style type="text/css">
			body{
				font-family: "微软雅黑";
			}

			.main {
				margin-left: 600px;
				margin-top: 300px;
			}
			.text {
				float: left;
			}

			.five {
				font-size: 40px;
			}

			.error {
				font-size: 20px;
			}

			.error span {
				display: block;
				font-size: 8px;
				line-height: 25px;
			}

			.image {

			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="text">
				<div class="five">500</div>
				<div class="error">内部服务器错误<span>您查找的资源存在问题，因此无法显示</span>
					<span><a href="/">返回首页</a></span></div>
			</div>

			<div class="image"><img src="50x.png"></img></div>
		</div>
		
		

	</body>
</html>