@CHARSET "UTF-8";

.bottom .add-import-export-record{
	height:50px;
	width:100%;
	position: relative;
}
.bottom .add-import-export-record .add-record{
	position: absolute;
	left: 10px;
	top: 15px;
}
.bottom .add-import-export-record .batch-import{
	position: absolute;
	left: 95px;
	top: 15px;
}

.bottom .add-import-export-record .batch-export{
	position: absolute;
	left: 180px;
	top: 15px;
}

.bottom .add-import-export-record .col-sm-1{
	padding: 0px;
}
.bottom .main #search{
	background-color: #FFF;
	padding: 15px;
}



.bottom .main #search .search-form {
	marigin: 10px 0 0 30px;
	width: 800px;
}

.bottom .main #search .form-control {
	height:30px;
	margin-top:8px;
	font-size: 12px;
}

.bottom .main #search .form-account-catetory, .form-remark, .form-in-ex-category {
	width: 20%;
}

.bottom .main #search .in-ex-category{
	width: 100%;
}
.bottom .main #search .form-money-begin, .form-money-end{
	width: 45%;
}

.bottom .main #search .add-time-begin, .add-time-end {
	width: 45%;
}

.bottom .main #search .money-option, .add-time-option {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-7px;
	margin-top:-8px;
}

.bottom .main #search .pull-left {
	float:left;'
}

.bottom .main #search .pull-right {
}

.bottom .main #list {
	background-color: #FFF;
}

.bottom .main #list tr td, th {
	text-align: center;
}


.bottom .main #list .dataTables_length {
	margin-top: 15px;
	float: left;
	margin-left: 30px;
}

.bottom .main #list .dataTables_paginate {
	margin-top: 6px;
	float: left;
	margin-left: 30px;
}

.bottom .main #list .dataTables_paginate .paginate_button {
	padding: 0px;
}

.bottom .main #list .dataTables_info {
	float: right;
	margin-right:30px;
	margin-top: 6px;
	clear: none;
}

.add-record-form {
	display:none;	
}

.layui-form {
	padding-top:30px;
	padding-right: 50px;
	padding-left:20px;
}

.modify-record {
	margin-right: 10px;
	color: blue;
}

.remove-record {
	color: red;
}
