body {
	background-color :#FAFAFA;	
}

.signIn {
	margin-top: 100px;
	margin-bottom: 40px;	
}

.signIn span {
    display: block;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 30px;
}

.main{
	margin: 0 auto;
	width: 500px;
	background-color: #fff;
	padding:20px;
}

.main #myTab{
	margin: 0 auto;
	width: 150px;
}

.main .tab-content {
	padding:20px;
}

.main .tab-content p {
	margin-left: 10px;
}

.main .tab-content input {
	margin: 10px;
}

